<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, iusto iure beatae sapiente sit 
            officia mollitia porro facilis placeat dolorum dicta quibusdam, nam temporibus. Earum itaque, dolore 
            laudantium cumque commodi tempora, repellat distinctio deleniti vero sapiente alias aliquid 
            perferendis iusto!
        </p>
    </div>
</div>