<div class="card">
    <div class="card-body">
        <h1>About Us</h1>
        <p>
            En <strong>hectordiaz.com</strong> estamos dedicados al desarrollo de nuevas habilidades para la mejora continua a través de los avances tecnológicos, creyentes en el trabajo en equipo. Con una visión de futuro clara y alentadora. Nuestras principales destrezas son el análisis y la resolución de problemas.<br/>
            
            El Proyecto de NodePAD, es un CRUD desarrollado con la tegnología de NodeJs, en ambiente ExpressJs y MongoDB,
            En cuya arquitectura hicimos uso de buenas practicas de desarrollo de software a lo largo de la construccion del proyecto,
            Tambien hicimos usos de paquetes y módulos muy populares actualmente en el mundo de desarrollo con NodeJs, tambien implementamos sesiones de usuarios, entre otras cosas.

        </p>
    </div>
</div>