<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas nam aliquid sapiente, sed harum 
        aspernatur repudiandae quaerat rerum qui eum officiis quos, distinctio provident ipsum? 
        Ab doloribus autem iusto inventore!
    </p>
    <a href="#" class="btn btn-primary btn-lg">hectordiaz.com</a>
</div>