<div class="jumbotron mt-4">
    <h1 class="display-4">NodePAD NodeJs and MongoDB</h1>
    <p class="lead">Tu tienes el control y el orden de tus compromisos en todo momento.</p>
    <hr class="my-4">
    <p>NodePAD es la aplicaci칩n con la cu치l podr치s llevar el control de tus
        compromisos y tareas diarias, que puedes revisar y modificar en 
        cualquier momento, es la App ideal para que tengas todo organizado y 
        a la mano, sin dejar escapar ni un s칩lo detalle.
    </p>
    <a href="#" class="btn btn-primary btn-lg">hectordiaz.com</a>
</div>